@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;0,700;1,400&family=Source+Code+Pro:wght@400;600&display=swap');

body {
    font-family: 'EB Garamond', serif;
    font-size: 1.25rem;
    max-width: 650px;
    margin: 0 auto;
    padding: 20px;
}

code, pre {
    font-family: 'Source Code Pro', monospace;
    font-size: 0.95rem;
}
