@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;0,700;1,400&family=Source+Code+Pro:wght@400;600&display=swap');

body {
    font-family: 'EB Garamond', serif;
    font-size: 1.25rem;
}

code, pre {
    font-family: 'Source Code Pro', monospace;
}
